In [14]:
import pandas as pd
import numpy as np

In [15]:
users_details_DF = pd.read_csv(r"..\Data\users-details-2023.csv") # user_details로 나중에 바꾸

In [16]:
users_details_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731290 entries, 0 to 731289
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Mal ID            731290 non-null  int64
 1   Username          731290 non-null  object
 2   Gender            224383 non-null  object
 3   Birthday          168068 non-null  object
 4   Location          152806 non-null  object
 5   Joined            731290 non-null  object
 6   Days Watched      731282 non-null  float64
 7   Mean Score        731282 non-null  float64
 8   Watching          731282 non-null  float64
 9   Completed         731282 non-null  float64
 10  On Hold           731282 non-null  float64
 11  Dropped           731282 non-null  float64
 12  Plan to Watch     731282 non-null  float64
 13  Total Entries     731282 non-null  float64
 14  Rewatched         731282 non-null  float64
 15  Episodes Watched  731282 non-null  float64
dtypes: float64(10), int64(1), object(5)
memory usage: 89.3+ MB

In [17]:
users_details_DF = users_details_DF.drop(["Birthday", "Joined", "Days Watched", "Watching", "On Hold", "Dropped", "Plan to Watch", "Rewatched", "Episodes Watched"], axis = 1)

In [18]:
users_details_DF[["Mean Score", "Completed", "Total Entries"]] = users_details_DF[["Mean Score", "Completed", "Total Entries"]].fillna(0)

In [19]:
users_details_DF["Username"] = users_details_DF["Username"].fillna("user")

In [20]:
users_details_DF["Gender"] = users_details_DF["Gender"].fillna("Non-Binary")

In [21]:
users_details_DF.rename({"Mal ID":"user_id"}, inplace = True, axis=True)

In [22]:
# 형변환 
# Gender -> "category"
# Mean Score -> "float32"
# Total Entries -> "int64"
users_details_DF["Total Entries"] = users_details_DF["Total Entries"].astype("int64")
users_details_DF["Mean Score"] = users_details_DF["Mean Score"].astype("float32")
users_details_DF["Gender"] = users_details_DF["Gender"].astype("category")

In [23]:
users_details_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731290 entries, 0 to 731289
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user_id        731290 non-null  int64
 1   Username       731290 non-null  object
 2   Gender         731290 non-null  category
 3   Location       152806 non-null  object
 4   Mean Score     731290 non-null  float32
 5   Completed      731290 non-null  float64
 6   Total Entries  731290 non-null  int64
dtypes: category(1), float32(1), float64(1), int64(2), object(2)
memory usage: 31.4+ MB